<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="templates/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Внутри сети</title>
  </head>
  <body>
    <head>
      <nav class="navbar navbar-expand-lg navbar-dark block-black">
        <div class="container-fluid">
          <a class="navbar-brand mx-5">Внутри сети</a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#service">Услуги</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#advantage">Преимущества</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#presentation">Презентация</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#contact">О нас</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </head>
    <main>
      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-lg-2 my-5 mx-5">
          <div class="col">
              <h1 class="my-5">Создавайте будущее с ИИ</h1>
              <h4>
                Автоматизация бизнес-процессов на основе нейросетевых технологий
              </h4>
              <div class="my-5">
                <a class="btn btn-dark shadow" href="#contact">
                  <h4>Записаться на презентацию</h4>
                </a>
              </div>
          </div>
          <div class="col">
            <img 
              src="/templates/images/first.jpg"
              width="100%"
              class="image-fluid"
            >
          </div>
        </div>
        <div class="row bg-dark text-white" style=" height: 150px; position: relative;">
          <div class="container text-center center-alignment-item">
            <h6 class="my-2">"Если технология не освобождает людей от рутины, чтобы они могли преследовать более высокие цели человечества, тогда весь технический прогресс бессмысленен." </h6>
            <div class="row">
              <div class="col-8">
              </div>
              <div class="col-4">
                <h6> - Жак Фреско </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center" id="service">
            <h2 class="my-5">Наши услуги</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 my-5">
          <div class="col my-3">
            <div class="card shadow text-start mx-5 h-100">
              <div class="card-header" style="height: 70px; position: relative;"><h5 class="card-title center-alignment-item">Консультационные услуги</h5></div>
              <div class="card-body">
                <p class="card-text">
                  <ul>
                    <li class="p-2">
                      Наша команда проведет анализ вашей компании и определит, какие задачи могут быть решены с использованием нейросетей.
                    </li>
                    <li class="p-2">
                      Мы поможем вам подобрать готовое решение либо выбрать оптимальную архитектуру нейросети, подходящую для ваших потребностей, а также предоставим рекомендации по сбору и подготовке данных для обучения модели.
                    </li>
                    <li class="p-2">
                      Мы поможем вам оценить потенциальные выгоды и риски, связанные с внедрением нейросетей, и предложим стратегию и план действий для успешного внедрения.
                    </li>
                  </ul>  
                </p>
              </div>
            </div>
          </div>
          <div class="col my-3">
            <div class="card shadow text-start mx-5 h-100">
              <div class="card-header" style="height: 70px; position: relative;"><h5 class="card-title center-alignment-item">Обучение и поддержка</h5></div>
              <div class="card-body">
                <p class="card-text">
                  <ul>
                    <li class="p-2">
                      Мы гарантируем постоянную поддержку наших клиентов, предоставляя экспертную помощь и консультации по вопросам внедрения нейросетей.
                    </li>
                    <li class="p-2">
                      Наши услуги нацелены на то, чтобы ваш коллектив научился самостоятельно работать с нейросетями и использовать их в бизнес-процессах.
                    </li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col my-3">
            <div class="card shadow text-start mx-5 h-100">
              <div class="card-header" style="height: 70px; position: relative;"><h5 class="card-title center-alignment-item">Внедрение нейросетей</h5></div>
              <div class="card-body">
                <p class="card-text">
                  <ul>
                    <li class="p-2">
                      Мы предлагаем услуги по интеграции готовых нейросетей или индивидуальных решений в ваш бизнес-процесс. 
                    </li>
                    <li class="p-2">
                      Разработав и обучив нейросеть, наша команда поможет вам интегрировать ее в вашу существующую систему или разработает новое программное обеспечение, учитывающее возможности нейронной сети.
                    </li>
                    <li class="p-2">
                      Мы также предоставим поддержку и сопровождение после внедрения нейросети, чтобы убедиться, что она работает стабильно и достигает желаемых результатов для вашего бизнеса.
                    </li>
                  </ul> 
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row text-center bg-dark text-white" id="advantage"  style="position: relative;">
            <h2 class="my-5">Преимущества</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 bg-dark p-5">     
          <div class="col my-3">
            <div class="card shadow mx-3 h-100">
              <div class="card-header" style="height: 50px; position: relative;"><h5 class="card-title center-alignment-item">Индивидуальный подход</h5></div>
              <div class="card-body">
                <p class="card-text">Мы применяем индивидуальный подход к каждому. Тщательно анализируем потребности и цели клиента, чтобы разработать наиболее подходящее решение, которое удовлетворит его потребности.</p>
              </div>
            </div>
          </div>
          <div class="col my-3">
            <div class="card shadow mx-3 h-100">
              <div class="card-header" style="height: 50px; position: relative;"><h5 class="card-title center-alignment-item">Эффективность</h5></div>
              <div class="card-body">
                <p class="card-text">Наше внедрение нейросетей помогает оптимизировать и автоматизировать бизнес-процессы, что приводит к повышению продуктивности и эффективности работы.</p>
              </div>
            </div>
          </div>
          <div class="col my-3">
            <div class="card shadow mx-3 h-100">
              <div class="card-header" style="height: 50px; position: relative;"><h5 class="card-title center-alignment-item">Повышение качества</h5></div>
              <div class="card-body">
                <p class="card-text">Внедрение нейросетей позволяет значительно улучшить как качество работы, так и результаты. Мы поможем вам повысить качество выпускаемой продукции или услуг, а также улучшить качество обслуживания клиентов.</p>
              </div>
            </div>
          </div>
          <div class="col my-3">
            <div class="card shadow mx-3 h-100">
              <div class="card-header" style="height: 50px; position: relative;"><h5 class="card-title center-alignment-item">Снижение затрат</h5></div>
              <div class="card-body">
                <p class="card-text">Нейросети могут помочь улучшить процессы, оптимизировать расходы и снизить операционные затраты. Мы поможем вам найти эффективные решения, которые помогут сэкономить ваш бюджет.</p>
              </div>
            </div>
          </div>
          <div class="col my-3">
            <div class="card shadow mx-3 h-100">
              <div class="card-header" style="height: 50px; position: relative;"><h5 class="card-title center-alignment-item">Быстрая реакция</h5></div>
              <div class="card-body">
                <p class="card-text">Нейросети позволяют осуществлять автоматический мониторинг и быструю реакцию на изменения в бизнес-процессах. Мы поможем вам оперативно реагировать на изменения на рынке и быстро адаптироваться к новым условиям.</p>
              </div>
            </div>
          </div>
          <div class="col my-3">
            <div class="card shadow mx-3 h-100">
              <div class="card-header" style="height: 50px; position: relative;"><h5 class="card-title center-alignment-item">Аналитика</h5></div>
              <div class="card-body">
                <p class="card-text">Наша технология позволяет проводить анализ данных и делать прогнозы будущих тенденций, что поможет вам принимать обоснованные решения на основе точных и достоверных данных.</p>
              </div>
            </div>
          </div> 
        </div>
        <div class="row my-5" id="contact">
          <div class="contact-form">
            <div class="container">
              <form>
                <div class="row row-cols-1 row-cols-md-2">
                  <div class="col my-3">
                      <h1 style="margin-bottom: 40px;">О нас</h1>
                      Основная цель - помочь организациям автоматизировать и оптимизировать свои бизнес-процессы с использованием нейросетевых технологий и алгоритмов машинного обучения.
                      <br><br>
                      Наш подход основан на тщательном анализе бизнес-процессов каждого клиента и разработке решения, которое наилучшим образом соответствует их потребностям. Мы предлагаем широкий спектр услуг для внедрения нейросетей, начиная от консультаций и разработки моделей до их интеграции в уже существующие системы.
                      <br><br>
                      Наша компания также предлагает поддержку и обслуживание после внедрения решений, чтобы гарантировать непрерывную работу системы и ее оптимальную производительность. В результате сотрудничества с нашей компанией, организации получают значительные преимущества, включая повышение эффективности, улучшение качества и точности принимаемых решений, увеличение скорости обработки данных и сокращение затрат.
                  </div>
                  <div class="col my-3">
                    <iframe  id="presentation" src="https://docs.google.com/forms/d/e/1FAIpQLScZl5V0K_bp72adlA1I1fNTCEYdAhiGk-7WY0Xxw71kkOeq6w/viewform?embedded=true" width="100%" height="100%" style="box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3) !important; min-height: 500px;" frameborder="2" marginheight="0" marginwidth="0">Загрузка…</iframe>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div> 
    </main>
    <!-- Footer -->
    <footer class="py-5 px-5 text-white block-black">
      <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6">
        <div class="col my-3">
          <img 
            src="templates/images/logo_2.png"
            width="100%"
            class="image-fluid"
          >
        </div>
        <div class="col my-3">
          <ul class="nav flex-column mx-4">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white"><h5>Внутри сети</h5></a></li>
            <li class="nav-item mb-2"><a href="#service" class="nav-link p-0 text-white"><h6>Услуги</h6></a></li>
            <li class="nav-item mb-2"><a href="#advantage" class="nav-link p-0 text-white"><h6>Преимущества</h6></a></li>
            <li class="nav-item mb-2"><a href="#contact" class="nav-link p-0 text-white"><h6>Презентация</h6></a></li>
            <li class="nav-item mb-2"><a href="#contact" class="nav-link p-0 text-white"><h6>О нас</h6></a></li>
          </ul>
        </div>
        <div class="col my-3">
          <ul class="nav flex-column mx-5">
            <li class="nav-item mb-2"><a class="nav-link p-0 text-white"><h5>Контакты</h5></a></li>
            <li class="nav-item mb-2"><a class="nav-link p-0 text-white">Email: </a></li>
            <li class="nav-item mb-2"><a class="nav-link p-0 text-white">Телеграм:</a></li>
            <li class="nav-item mb-2"><a class="nav-link p-0 text-white">VK:</a></li>
            <li class="nav-item mb-2"><a class="nav-link p-0 text-white"></a>What's app: </li>
          </ul>
        </div>
        <div class="col my-3">
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a class="nav-link p-0 text-white"><h5><br></h5></a></li>
            <li class="nav-item mb-2"><a class="nav-link p-0 text-white">inside_net@gmail.com</a></li>
            <li class="nav-item mb-2"><a class="nav-link p-0 text-white">@inside_net</a></li>
            <li class="nav-item mb-2"><a class="nav-link p-0 text-white">@inside_net</a></li>
            <li class="nav-item mb-2"><a class="nav-link p-0 text-white"></a>@inside_net</li>
          </ul>
        </div>
      </div>
    </footer>

    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src='templates/main.js'></script>
  </body>
</html>
